/*
Custom styles for Trackster App
*/
html {
	font-size: 16px;
	overflow-x: hidden;
}

body {
	font-family: "Work Sans", sans-serif;
	line-height: 2.5;
	min-width: 570px;
}

h1 {
	font-family: 'Righteous';
	font-size: 2.5rem;
	color: rgb(255,0,171);
}

.header {
	background-color: rgb(35, 2, 63);
	padding: 2.75rem 0;
	display: flex;
	align-items: center;
}

.header input {
	border-radius: 19px;
	margin-right: .625rem;
}

.header .fa-search{
	background-color: rgb(255,0,171);
	color: rgb(35, 2, 63);
	border-radius: 19px;
	padding: 0.5rem;
	text-align: center;
}

.attributes {
	background-color: rgb(104, 0, 255);
	color: rgb(255, 255, 255);
	font-weight: 500;
}
